@import "mixins.scss";

// Header

.header {
    padding: 40px 0px;
    background: #ffffff;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 980px;
        margin: 0 auto;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
    }

    &__nav-links {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #CD8235;
        font-family: "ElMessiri-Regular";
        font-size: calc(10px + 0.4830917874vw);
    }

    &__nav-items {
        padding-right: 28px;
    }

    &__nav-items:last-child {
        margin-right: 0px;
    }

    &__nav-links {
        transition: ease-in .2s;
    }

    &__nav-links:hover {
        color: #292A2E;
    }

    &__nav-button {
        padding: 10px 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        font-family: "ElMessiri-Regular";
        border: 1px solid #CD8235;
        border-radius: 6px;
        transition: ease-in .2s;
        font-size: calc(12px + 2 * (100vw / 414));
        display: flex;
        align-items: center;
    }

    &__nav-button:hover {
        border: 1px solid #cd813500;
        background: #CD8235;
        color: #ffffff;
    }

    &__nav-box {
        display: flex;
        justify-content: space-between;
    }

    &__nav-korzina {
        margin-left: 24px;
    }
}


// First section

.container {
    padding: 0px 176px;
}

.section__first {
    padding-top: 90px;

    &-top {
        padding-bottom: 10%;
    }

    &-title {
        font-weight: 400;
        font-size: 100px;
        line-height: 125%;
        color: #CD8235;
        font-family: 'Forum', cursive;
        padding-bottom: 1%;
        font-size: calc(46px + 0.9661835749vw);
    }

    &-text {
        font-weight: 300;
        font-size: 32px;
        line-height: 135.19%;
        font-family: "Roboto-Light";
        color: #4A4A4A;
        padding-bottom: 12px;
        font-size: calc(11px + 0.4830917874vw);
    }

    &-image {
        width: 70%;
        padding-top: 2%;
    }
}


// Second section

.section__second {
    padding: 10% 0px;

    &-title {
        font-weight: 400;
        font-size: calc(86px + 4 * (100vw / 414));
        line-height: 125%;
        color: #CD8235;
        font-family: 'Forum', cursive;
        padding-bottom: 80px;
        text-align: center;
    }

    &-items {
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4%;
    }

    &-text {
        font-weight: 300;
        font-size: 34px;
        line-height: 135.19%;
        color: #4A4A4A;
        font-family: "Roboto-Light";
        padding-top: 12px;
        font-size: calc(16px + 0.9661835749vw);
    }

    &-inner {
        padding: 0px 0px 100% 0px;
        overflow: hidden;
        position: relative;
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

}


// Third section

.section__three {
    padding-bottom: 1000px;
    overflow: hidden;

    &-wrapper {
        max-width: 1000px;
    }

    &-title {
        font-weight: 400;
        font-size: calc(64px + 0.9661835749vw);
        line-height: 125%;
        font-family: 'Forum', cursive;
        color: #CD8235;
        padding-bottom: 44px;
        position: relative;
    }

    &-title::after {
        content: url(../img/price/procent.png);
        position: absolute;
        bottom: -511%;
        left: 53%;
    }

    &-title::before {
        content: url(../img/price/sale.png);
        position: absolute;
        bottom: -446%;
        left: 98%;
    }

    &-text {
        font-weight: 300;
        font-size: 40px;
        font-size: calc(24px + 0.4830917874vw);
        line-height: 135.19%;
        color: #4A4A4A;
        font-family: "Roboto-Light";
        padding-bottom: 24px;
    }
}


// Footer

.footer {
    padding: 40px 60px;
    background: #292A2E;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 980px;
        margin: 0 auto;
    }

    &__nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-links {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        font-family: "ElMessiri-Regular";
        font-size: calc(10px + 2 * (100vw / 414));
    }

    &__nav-box {
        display: flex;
        // justify-content: space-between;
        align-items: center;
    }

    &__nav-items {
        padding-right: 28px;
    }

    &__nav-items:last-child {
        margin-right: 0px;
    }

    &__nav-links {
        transition: ease-in .2s;
    }

    &__nav-links:hover {
        color: #F9D880;
    }

    &__nav-social {
        margin-right: 32px;
    }

    &__nav-social:last-child {
        margin-right: 0px;
    }
}

@media (max-width: 1350px) {
    .container {
        padding: 0px 60px;
    }
}

@media (max-width: 1050px) {
    .header {
        padding: 40px 60px;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 40px 60px;

        &__nav-list {
            display: none;
        }

    }

    .header {
        &__nav-list {
            display: none;
        }
    }

    .section__second-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 3%;
        column-gap: 0%;
    }

    .section__second-image {
        width: 100%;
        height: 52%;
        left: 0%;
    }

    .section__second-text {
        margin-top: -49%;
    }

    .section__second-title {
        font-size: calc(64px + 4 * (100vw / 414));
        padding-bottom: 60px;
    }

    .container {
        padding: 0px 30px;
    }

    .section__three-text {
        font-size: calc(24px + 0.4830917874vw);
    }

    .header {
        padding: 40px 30px;
    }

}

@media (max-width: 700px) {
    .header {
        &__nav-button {
            padding: 10px 30px;
        }

        &__nav-logo {
            width: 60px;
        }

        &__nav-korzina {
            width: 40px;
            margin-left: 10px;
        }
    }

    .section__first {
        padding-top: 60px;
    }

    .section__first-bottom {
        margin-bottom: 60px;
    }

    .section__second-text {
        margin-bottom: 6%;
    }
}

@media (max-width: 500px) {
    .section__three-title {
        font-size: calc(40px + 0.9661835749vw);
    }

    .section__three-text {
        font-size: calc(16px + 0.4830917874vw);
    }

    .section__second-title {
        font-size: calc(40px + 0.9661835749vw);
    }
}

@media (max-width: 400px) {
    .header {
        &__nav-button {
            padding: 10px 15px;
        }
    }

    .footer__nav {
        &-social {
            margin-right: 10px;
        }
    }

    .container {
        padding: 0px 30px;
    }

    .header {
        padding: 40px 30px;
    }

    .section__first {
        padding-top: 30px;
    }

    .section__first-bottom {
        margin-bottom: 30px;
    }

    .footer {
        padding: 40px 30px;
    }
}