* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

@font-face {
    font-family: "ElMessiri-Regular";
    src: url("../fonts/navLinks/ElMessiri-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/buttons/Roboto-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/buttons/Roboto-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/buttons/Roboto-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/paragraphs/Roboto-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/paragraphs/Roboto-Regular.woff2") format("woff2");
}
